body {
    background-color: #d8e2dc;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.view_all {
    text-align: center;
}

.greeting {
    text-align: left;
    justify-content: left;
}

.collection {
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    max-width: fit-content;
}

.album {
    border: solid black 2px;
    max-width: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fae1dd;
    margin: 40px 15px 15px 15px;
    padding: 45px;
    font-size: smaller;
}
