body {
    background-color: #d8e2dc;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 1px;
}

h4 {
    margin-bottom: 1px;
}

div {
    display: grid;
    justify-content: center;
    max-width: fit-content;
}

.album {
    border: 1px solid black;
    max-width: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fae1dd;
    margin: 40px 15px 15px 15px;
    padding: 5px;
    font-size: smaller;
}

.music {
    width: auto;
    height: auto; 
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

