body {
    background-color: #d8e2dc;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* .greeting {
    text-align: left;
    justify-content: left;
    border: solid fuchsia 2px;
} 

.music {
    width: auto;
    height: auto;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.album {
    border: solid black 2px;
    max-width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fae1dd;
    margin: 40px 15px 15px 15px;
    padding: 5px;
    font-size: smaller;
}
