{% extends "base.html" %}

{% block content %}
<h1>Welcome to Your Music Collection!</h1><br>

<div>
    <p><a class="greeting" href="{% url 'add_album' %}">Add New Album</a></p>
</div>

<div>
    <h2 class="view_all">Now Vieweing All Albums</h2>
    <br>
    <br>

    <div class="collection">
        {% for album in albums %}
        <div class="album">
            <h4>{{ album.title }}</h4>
            <div>{{ album.artist }}</div>

            {% if album in favorite_albums %}
            <h3>One of my faves! ❤️ </h3>
            {% endif %}

            <p>
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
                <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
                <a href="{% url 'view_album' pk=album.pk %}">View Album</a><br>
            </p>
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}