{% extends "base.html" %}

{% block content %}
<h1><span>Welcome to Your Music Collection!</span></h1><br>

<div>
    <p><a class="greeting" href="{% url 'add_album' %}">Add New Album</a></p>
</div>

<div>
    <h2 class="view_all"><span>All Albums</span></h2>
    <br>
    <br>

    <div class="collection">
        {% for album in albums %}
        <div class="album">
            <h4>{{ album.title }}</h4>
            <div>{{ album.artist }}</div>

            {% if album in favorite_albums %}
            <p> <a href="{% url 'undo_favorite' pk=album.pk %}"> &#11088; Undo Favorite </a>
                {% else %}
                <a href="{% url 'add_favorite' pk=album.pk %}"> &#9734; Add to Favorites</a>
            </p>
            {% endif %}

            <p>
                <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
                <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
                <a href="{% url 'view_album' pk=album.pk %}">View Album</a><br>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}